<nav>
  <span routerLink="feature-a" routerLinkActive="selected">Feature A</span>
  <span routerLink="feature-b/view-b-a" routerLinkActive="selected">Feature B-A</span>
  <span routerLink="feature-b/view-b-b/view-b-b-a" routerLinkActive="selected">Feature B-B-A</span>
  <span routerLink="feature-b/view-b-b/view-b-b-b" routerLinkActive="selected">Feature B-B-B</span>
  <span routerLink="feature-b/view-b-c" routerLinkActive="selected">Feature B-C</span>
  <span routerLink="feature-c" routerLinkActive="selected">Feature C</span>
</nav>