<nav>
  <span routerLink="feature-a" routerLinkActive="selected">Feature A</span>
  <span routerLink="feature-b/page-b-a" routerLinkActive="selected">Page B-A</span>
  <span routerLink="feature-b/page-b-b/page-b-b-a" routerLinkActive="selected">Page B-B-A</span>
  <span routerLink="feature-b/page-b-b/page-b-b-b" routerLinkActive="selected">Page B-B-B</span>
  <span routerLink="feature-b/page-b-c" routerLinkActive="selected">Feature B-C</span>
  <span routerLink="feature-c" routerLinkActive="selected">Feature C</span>
</nav>