<span routerLink="feature-a" routerLinkActive="selected">Feature A</span>
<span routerLink="feature-b/view-b-a" routerLinkActive="selected">View B-A</span>
<span routerLink="feature-b/view-b-b/view-b-b-a" routerLinkActive="selected">View B-B-A</span>
<span routerLink="feature-b/view-b-b/view-b-b-b" routerLinkActive="selected">View B-B-B</span>
<span routerLink="feature-b/view-b-c" routerLinkActive="selected">Feature B-C</span>
<span routerLink="feature-c" routerLinkActive="selected">Feature C</span>
