:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 10px;

    span {
        background: rgba(0, 0, 0, 0.04);
        padding: 10px 15px;
        margin-inline: 5px;
        border-radius: 6px;

        &:hover {
            background: rgba(0, 0, 0, 0.08);
            transition: 0.2s;
            cursor: pointer;
        }

        &.selected {
            background: #549eff;
            color: white;
        }
    }
}