:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}